<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="font-family: Consolas">
            <div style="align-content:flex-start">
                @RenderBody()
            </div>
            @if (ViewData["ShowSkipButton"] != null && (bool)ViewData["ShowSkipButton"] == true)
            {
                <a href="/QuestionProgress/Frage" class="btn btn-primary">Skip</a>
                <a href="/QuestionProgress/Welcome" class="btn btn-primary">Home</a>
            }
            @if (Url.Action().Contains("Frage") || Url.Action().Contains("Welcome"))
            {
                <br /> <span>Frage:</span>

                if (ViewBag.NumberOfQuestions != null && ViewBag.NumberOfQuestions > 0)
                {
                    for (int i = 1; i <= ViewBag.NumberOfQuestions; i++)
                    {
                        <a href="/QuestionProgress/Frage?qNum=@i">@i</a>
                    }
                }

            }
            <p>Dies ist eine SQL Script Übungsseite, wo man seine SQL skills verbessern kann.
            <b><i>How to use?</i></b>
            Ganz oben befindet sich die Anweisung, die man in SQL ausführen sollte.
            Danach kommt ein "gelöchertes Script", wo es gilt die fehlenden Stücke auszufüllen.
            Manchmal sind es keywords wie "SELECT" oder "WHERE", manchmal Operatoren
            wie ">=" oder "<=". Man kann die "Löcher" und den "passenden Inhalt", also das Lösungswort, 
            mit dem Generator auch selbst definieren. <b>Wichtig:</b> das Lösungswort darf nur aus <b><i>einem einzigen ganze Wort</i></b>
            bestehen und es muss <b><i>identisch</i></b> mit seinem Zwilling im "Vorgabescript sein." <a href="/QuestionProgress/QuestionGenerator">Mehr dazu im Generator.</a>
            
            Solltest du mal nicht weiter wissen, dann schaue im HTML nach.

            Viel Spaß!
            </p>
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
