@model int
@{
	ViewData["Title"] = "Frage " + Model;
}
<h2>
-- Eine Funktion schreiben, die den Anzahl 
-- der Untergeordneten vom angegebenen Mitarbeiter 
-- zur?ck gibt.
</h2>
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get,new { onsubmit = "return validateForm(['FUNCTION','COUNT','WHERE'])", autocomplete = "off" }))
{
<div class="form-group">
<div id="solutionText">
<span> CREATE </span>
<!--function-->
<input type="text" name="param0" id="param0" />
<span> fnAnzahlUntergeordnete(@@VorgesetzeId </span><span> int) </span><br /><span> RETURNS </span><span> int </span><br /><span> AS </span><span> BEGIN </span><br /><span> RETURN </span><span> (SELECT </span><span> COUNT(EmployeeID) </span><br /><span> 		FROM </span><span> Employees </span><span> WHERE </span><span> ReportsTo </span><span> = </span><span> @@VorgesetzeId) </span><br /><span> 		-- </span><span> Implizite </span><span> Konvertierung </span><span> () </span><br /><span> END; </span><br /><span> GO </span><br />
</div>
<input type="hidden" name="solutionString" id ="solutionString"/>
<input type="submit" class="btn-sm btn-primary" value="Check"/>
</div>
}