@model int
@{
	ViewData["Title"] = "Frage " + Model;
}
<h2>
-- Eine Funktion schreiben, die Temperatur von Grad in Fahrenheit umrechnet.
-- Das Ergebnis soll nach Aufruf als Meldung ausgegeben werden. 
-- (auf 2 Nachkommastellen genau)
-- FunktionName: fnFahrenheit
-- Formel: Fahrenheit = Grad  // ?F = ?C ? 1,8 + 32 
-- Muster Ausgabe: 32.70 ?C = 90.86 ?F
</h2>
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get,new { onsubmit = "return validateForm(['FUNCTION','RETURNS','BEGIN','DECLARE','SET','RETURN'])", autocomplete = "off" }))
{
<div class="form-group">
<div id="solutionText">
<span> CREATE </span><span> OR </span><span> ALTER </span><span>  </span><br />
<!--function-->
<input type="text" name="param0" id="param0" />
<span> fnFahrenheit </span><span> ( </span><br /><span> 	@@Grad </span><span> DECIMAL(18,2) </span><br /><span> ) </span><br />
<!--returns-->
<input type="text" name="param1" id="param1" />
<span> DECIMAL(18,2) </span><br /><span> AS </span><br />
<!--begin-->
<input type="text" name="param2" id="param2" />
<br /><span> 	-- </span><span> Formel: </span><span> ?F </span><span> = </span><span> ?C </span><span> ? </span><span> 1,8 </span><span> + </span><span> 32 </span><span>  </span><br />
<!--declare-->
<input type="text" name="param3" id="param3" />
<span> @@Fahrenheit </span><span> DECIMAL(18,2); </span><br />
<!--set-->
<input type="text" name="param4" id="param4" />
<span> @@Fahrenheit </span><span> = </span><span> @@Grad </span><span> * </span><span> 1.8 </span><span> + </span><span> 32; </span><br />
<!--return-->
<input type="text" name="param5" id="param5" />
<span> @@Fahrenheit </span><br /><span> END </span><br /><span> GO </span><br />
</div>
<input type="hidden" name="solutionString" id ="solutionString"/>
<input type="submit" class="btn-sm btn-primary" value="Check"/>
</div>
}