@model int
@{
    ViewData["Title"] = "Frage " + Model;
}

<h2>Selektrieren Sie alle Kunden aus Berlin.</h2>
@*onsubmit = "return func()" das return, verhindert, dass das Formular abgeschickt wird, wenn es false returned.*@
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get, new { onsubmit = "return validateForm(['where', 'like'])", autocomplete = "off" }))
{
    <div class="form-group">
        <span class="bluespan">SELECT</span> * <span class="bluespan">FROM</span> Customers <br />
        <input type="text" name="param0" id="param0" /> City <input type="text" id="param1" name="param1" /> 'Berlin'
        <input type="submit" class="btn-sm btn-primary" value="Check" />
    </div>
}
