@model int
@{
    ViewData["Title"] = "Frage " + Model;
}

<h2>Erstelle eine Datenbank mit dem Namen "Personen"</h2>
@*onsubmit = "return func()" das return, verhindert, dass das Formular abgeschickt wird, wenn es false returned.*@
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get, new { onsubmit = "return validateForm(['create', 'database', 'go'])", autocomplete = "off" }))
{
<div class="form-group">
    <div id="solutionText">
        <!--create-->
        <input type="text" name="param0" id="param0" />
        <!--database-->
        <span>&nbsp;</span><input type="text" name="param1" id="param1" /><span> Personen </span><br />
        <!--go-->
        <input type="text" name="param2" id="param2" /><br />
    </div>
    <input type="hidden" name="solutionString" id="solutionString" />
    <input type="submit" class="btn-sm btn-primary" value="Check" />
</div>
}
