@model int
@{
    ViewData["Title"] = "Frage " + Model;
}

<h2>
    Erstelle eine Tabelle "Land", mit den Attributen: <br />
    LandId(int, identity(1,1), not null) <br />
    LandName (nvarchar50) <br />
</h2>
@*onsubmit = "return func()" das return, verhindert, dass das Formular abgeschickt wird, wenn es false returned.*@
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get, new { onsubmit = "return validateForm(['create', 'table', 'int', 'identity(1,1)', '50'])", autocomplete = "off" }))
{
<div class="form-group">
    <div id="solutionText">
        <!--create-->
        <input type="text" name="param0" id="param0" /><span>&nbsp;</span>
        <!--table-->
        <input type="text" id="param1" name="param1" /><span> [dbo].[Land] (</span><br />
        <span>[LandId]&nbsp;</span>
        <!--int-->
        <input type="text" name="param2" id="param2" /><span>&nbsp;</span>
        <!--identity(1,1)-->
        <input type="text" name="param3" id="param3" /><span>&nbsp;</span><span>NOT NULL, </span><br />
        <span> [LandName] [nvarchar](</span>
        <!--50-->
        <input type="text" name="param4" id="param4" /><span>) NULL) </span><br />
        <span> GO</span><br />
    </div>
    <input type="hidden" name="solutionString" id="solutionString" />
    <input type="submit" class="btn-sm btn-primary" value="Check" />
</div>
    }
