@model int
@{
    ViewData["Title"] = "Frage " + Model;
}
@*<h1>Frage 3</h1>*@
<h2>Erstelle eine Datenbank mit dem Namen "Personen"</h2>
@*onsubmit = "return func()" das return, verhindert, dass das Formular abgeschickt wird, wenn es false returned.*@
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Post, new { onsubmit = "return validateForm(['create', 'database', 'go'])" }))
{
    <div class="form-group">
        <input type="text" name="param0" id="param0" /> <input type="text" id="param1" name="param1" /> Personen <br />
        <input type="text" name="param2" id="param2" />
        <input type="submit" class="btn-sm btn-primary" value="Check" />
    </div>
}
