@model int
@{
    ViewData["Title"] = "Frage " + Model;
}

<h2>
    Erstelle einen Index "CategoriesProducts" auf "dbo"."Products"("CategoryID") <br />
</h2>
@*onsubmit = "return func()" das return, verhindert, dass das Formular abgeschickt wird, wenn es false returned.*@
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get,
   new { onsubmit = "return validateForm(['index', 'on', 'categoryid'])", autocomplete = "off" }))
{
<div class="form-group">
    <div id="solutionText">
        <span>CREATE</span>
        <!--index-->
        <input type="text" name="param0" id="param0" /><span>"CategoriesProducts"</span>
        <!--on-->
        <input type="text" name="param1" id="param1" /> <span>"dbo"."Products"</span>
        <span>("</span>
        <!--categoryid-->
        <input type="text" name="param2" id="param2" />
        <span>")</span>
        <br />
        <span> GO</span><br />
    </div>
    <input type="hidden" name="solutionString" id="solutionString" />
    <input type="submit" class="btn-sm btn-primary" value="Check" />
</div>
}
