@model int
@{
    ViewData["Title"] = "Frage " + Model;
}

<h2>
    Erstelle eine Tabelle "Land", mit den Attributen: <br />
    LandId(int, identity(1,1), not null) <br />
    LandName (nvarchar50) <br />
</h2>
@*onsubmit = "return func()" das return, verhindert, dass das Formular abgeschickt wird, wenn es false returned.*@
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get, new { onsubmit = "return validateForm(['create', 'table', 'int', 'identity(1,1)', '50'])", autocomplete = "off" }))
{
<div class="form-group">
    <input type="text" name="param0" id="param0" /> <!--create-->
    <input type="text" id="param1" name="param1" /> [dbo].[Land] ( <br /> <!--table-->
    [LandId]
    <input type="text" name="param2" id="param2" /> <!--int-->
    <input type="text" name="param3" id="param3" /> NOT NULL, <br /> <!--identity(1,1)-->
    [LandName] [nvarchar](
    <input type="text" name="param4" id="param4" /> ) NULL ) <br /> <!--50-->
    GO <br />
    <input type="submit" class="btn-sm btn-primary" value="Check" />
</div>
}
