@model int
@{
	ViewData["Title"] = "Frage " + Model;
}
<h2>
Alle Mitarbeiter aufsteigend auflisten, die zwischen 1952 und 1963 geboren sind
</h2>
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get,new { onsubmit = "return validateForm(['select','year','between','and','asc'])", autocomplete = "off" }))
{
<div class="form-group">
<div id="solutionText">

<!--select-->
<input type="text" name="param0" id="param0" />
<span> *  from  Employees </span><br /><span> where </span>
<!--year-->
<input type="text" name="param1" id="param1" />
<span> (  BirthDate  ) </span>
<!--between-->
<input type="text" name="param2" id="param2" />
<span> 1952 </span>
<!--and-->
<input type="text" name="param3" id="param3" />
<span> 1963 </span><br /><span> order  by  BirthDate </span>
<!--asc-->
<input type="text" name="param4" id="param4" />
<br />
</div>
<input type="hidden" name="solutionString" id ="solutionString"/>
<input type="submit" class="btn-sm btn-primary" value="Check"/>
</div>
}