@model int
@{
    ViewData["Title"] = "Frage " + Model;
}

<h2>Selektrieren Sie alle Kunden aus Berlin.</h2>
@*onsubmit = "return func()" das return, verhindert, dass das Formular abgeschickt wird, wenn es false returned.*@
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get, new { onsubmit = "return validateForm(['where', 'like'])", autocomplete = "off" }))
{
    <div class="form-group">
        <div id="solutionText">
            <span>SELECT * FROM Customers </span><br />
            <!--where-->
            <input type="text" name="param0" id="param0" /><span> City </span> 
            <!--like-->
            <input type="text" name="param1" id="param1" /><span> 'Berlin' </span><br />
            GO<br />
        </div>
        <input type="submit" class="btn-sm btn-primary" value="Check" />
    </div>
}
