@model int
@{
    ViewData["Title"] = "Frage " + Model;
}

<h2>
    Schreib eine Funktion, die die Fläche eines Rechtsecks berechnet<br />
</h2>
@*onsubmit = "return func()" das return, verhindert, dass das Formular abgeschickt wird, wenn es false returned.*@
@using (Html.BeginForm("ValidateAnswers", "QuestionProgress", FormMethod.Get,
   new { onsubmit = "return validateForm(['alter', 'function', 'returns', 'float', 'begin', 'return', '@y'])", autocomplete = "off" }))
{
<div class="form-group">
    <div id="solutionText">
        <span>CREATE OR</span>
        <!--alter-->
        <input type="text" name="param0" id="param0" />
        <!--function-->
        <input type="text" name="param1" id="param1" /><span>BerechneFlaecheRechteck</span><br />
        <span>(@@x FLOAT, @@y FLOAT)</span>
        <!--returns-->
        <input type="text" name="param2" id="param2" />
        <!--float-->
        <input type="text" name="param3" id="param3" /><br />
        <span>AS</span><br />
        <!--begin-->
        <input type="text" name="param4" id="param4" /><br />
        <!--return-->
        <input type="text" name="param5" id="param5" />
        <span>@@x *</span>
        <!--@@y-->
        <input type="text" name="param6" id="param6" /><br />
        <span>END</span><br />
        <span> GO</span><br />
    </div>
    <input type="hidden" name="solutionString" id="solutionString" />
    <input type="submit" class="btn-sm btn-primary" value="Check" />
</div>
}
