<div>
    <form action="/QuestionProgress/QuestionGenerator/" method="post" class="form-group">
        <div>
            <label class="col-form-label">Fragebeschreibung</label><br />
            <textarea class="form-control" name="questionDescription" id="questionDescription" rows="3" ></textarea> <br />
        </div>
        <div>
            <label class="col-form-label">SQL script</label> <br />
            <textarea class="form-control" name="script" id="script" rows="10"></textarea> <br />
        </div>
        <div>
            <label class="col-form-label">Liste der gesuchten Lösungsbegriffe</label> <br />
            <input class="form-control" type="text" name="solutionTerms" id="solutionTerms" /> <br />
        </div>
        <input type="submit" name="submit" id="submit" value="Generate" class="btn btn-primary mx-2 my-2" />
    </form>
</div>
<br />
<a href="/QuestionProgress/Welcome" class="btn btn-primary mx-2 my-2">Home</a>
<br />

<a href="#generatorHowTo" data-bs-toggle="collapse" class="btn btn-primary mx-2 my-2">Help</a> 
<div id="generatorHowTo" class="collapse">
    <h3>How to use?</h3>

    <p>
        Im ersten Feld kommt deine Frage oder Anweisung rein.<br />
        zB: <i>Zeige alle Kunden an.</i> <br />
        Im Zweiten kommt ein "geprüftes" SQL Script rein, also ein Script, das <i>syntaktisch</i> richtig ist und funktionieren sollte.<br />
        zB: <i>SELECT * FROM Costumers</i> <br />
        Im letzten Feld kopiert man die Wörter aus dem Script raus, die man dann im Trainingsmodus <b><i>erraten</i></b> will. <br />
        zB: <i>select, from</i> <br />
    </p>
    <p><b><i>WICHTIG:</i></b></p>
    <p>
        Es kann immer nur nach einem <b>GANZEN</b> Wort gesucht werden, also 'GROUP BY', 'NOT NULL' oder 'ORDER BY' müssen in 'GROUP' und 'BY' aufgeteilt werden.
        Die Antwort wird nur anahnd der Syntax der Lösungswörter evaluiert.
    </p>
    <p>
        Das Lösungswort muss <b><i>identisch</i></b> mit seinem Vorkommen im "Vorgabescript" sein.
        Aliase sind nicht erlaubt. <i>'DESC'</i> ist nicht gleichbedeutend wie <i>'DESCENDING'</i> und <i>'='</i> nicht mit <i>'like'</i>.
    </p>
    <p>
        Alle Suchbegriffe <b><i>müssen</i></b> durch einen Beistrich getrennt sein: 'SELECT, FROM, WHERE'. Nach dem letzten Wort kommt kein Zeichen mehr, auch kein Punkt.
    </p>
    <p>
        Leerzeichen oder Groß/Kleinschreibung spielen keine Rolle.<br />
        Operatoren mit mehreren Zeichen werden einfach zusammenhängend eingegeben.<br />
        zB: '>=, <=, !=, =, ___%'
    </p>
</div>