
@{
    ViewData["Title"] = "Richtig";

}
<div class="container-fluid no-padding column" id="mainNode" style="background-color: green; height:stretch; width:stretch; padding:25px">
    <h1>Richtig!</h1>
    <p>@ViewBag.solutionString</p>
    <form action="/QuestionProgress/Frage" method="get">
        <input type="submit" id="submitBtn" value="Weiter" class="btn btn-primary" />
    </form>
</div>
<script>
    document.getElementById("submitBtn").focus();
</script>