@{
    ViewData["Title"] = "Willkommen";
}

<div class="text-center">
    <h1>Willkommen zu DOTraining</h1>

    <p>
        Sortierte Fragen
        <a href="/QuestionProgress/Frage?israndom=false" class="btn btn-primary mx-2 my-2">Start</a>
    </p>

    <p>
        Zufällig durchmischte Fragen (Endlosschleife)
        <a href="/QuestionProgress/SetRandomQuestions" class="btn btn-primary mx-2 my-2">Start</a>
    </p>

    <p>
        Fragen Generator
        <a href="/QuestionProgress/QuestionGenerator" class="btn btn-primary mx-2 my-2">Start</a>
    </p>
    <a href="#questions" data-bs-toggle="collapse" class="btn btn-primary mx-2 my-2">Fragen</a>
    <a href="#generalHowTo" data-bs-toggle="collapse" class="btn btn-primary mx-2 my-2">Help</a>
    <div id="generalHowTo" class="collapse">
        <br />
        <p>Dies ist eine SQL Übungsseite.</p>
        <p><b><i>How to use?</i></b></p>
        <p>
            Ganz oben im UI befindet sich die Anweisung, die in SQL ausgedrückt werden soll.
            Danach kommt ein "gelöchertes Script", worin es gilt die fehlenden Stücke auszufüllen.
            Manchmal sind es keywords wie 'SELECT' oder 'WHERE', manchmal Operatoren
            wie '&gt;=' oder '&lt;='. Die "Löcher" und der "passende Inhalt", also das Lösungswort,
            kann auch selbst definiert werden.
            <a href="/QuestionProgress/QuestionGenerator">Mehr dazu im Fragen Generator.</a>
        </p>

        <p>Solltest du mal nicht weiter kommen, kannst du die Frage überspringen oder im HTML nachschauen.</p>
        <p>Viel Spaß!</p>
    </div>
    <div id="questions" class="collapse">
        @{
            if (ViewBag.NumberOfQuestions != null && ViewBag.NumberOfQuestions > 0)
            {
                for (int i = 1; i <= ViewBag.NumberOfQuestions; i++)
                {
                    if ((i - 1) % 20 == 0)
                    {
                        @:<br />
                    }
                    <a href="/QuestionProgress/Frage?qNum=@i">@i</a>
                }
            }
        }
    </div>
</div>
