@{
    ViewData["Title"] = "Willkommen";
}

<div class="text-center">
    <h1>Willkommen zu DOTraining</h1>

    <p>Fragen in der Reihenfolge leicht -> schwer
    <a href="QuestionProgress/Frage1" class="btn btn-primary">Start</a>
    </p>

    <p>Zufällig durchmischte Fragen (Endlosschleife)
    <a href="QuestionProgress/SetRandomQuestions" class="btn btn-primary">Start</a>
    </p>
</div>