@{
    ViewData["Title"] = "Willkommen";
}

<div class="text-center">
    <h1>Willkommen zu DOTraining</h1>

    <p>
        Sortierte Fragen
        <a href="/QuestionProgress/Frage?israndom=false" class="btn btn-primary">Start</a>
    </p>

    <p>
        Zufällig durchmischte Fragen (Endlosschleife)
        <a href="/QuestionProgress/SetRandomQuestions" class="btn btn-primary">Start</a>
    </p>

    <p>
        Fragen Generator
        <a href="/QuestionProgress/QuestionGenerator" class="btn btn-primary">Start</a>
    </p>
</div>